[Unit]
Description=Gunicorn daemon for MetaGap Django application
After=network.target

[Service]
User=metagap
Group=www-data
WorkingDirectory=/var/www/metagap
Environment="DJANGO_SETTINGS_MODULE=MetaGap.settings"
ExecStart=/usr/local/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          MetaGap.wsgi:application

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

