{% extends 'base.html' %}

{% block title %}Delete Account - {{ SITE_NAME }}{% endblock %}

{% block breadcrumbs %}
{% include 'partials/breadcrumbs.html' with breadcrumb_title='Delete Account' %}
{% endblock %}

{% block content %}
<div class="container mt-5">
        {% include 'partials/form.html' with form=form form_title="Are you sure you want to delete your account?" submit_button_label="Yes, Delete My Account" submit_button_class="btn btn-danger" extra_actions=form_extra_actions wrapper_class='mt-4' %}
</div>
{% endblock %}
