{% extends 'layout.html' %}

{% block title %}Home - MetaGaP{% endblock %}

{% block content %}
<div class="container mt-5">
	<h1>Welcome to MetaGaP</h1>
	<p>Manage allele frequencies and sample group metadata with ease.</p>
	{% url 'search_results' as search_action %}
        {% with form_title="Search" form_method="get" form_action=search_action submit_button_label="Search" extra_actions=form_extra_actions|default:'' %}
        {% include 'partials/form.html' %}
        {% endwith %}
</div>
{% endblock %}
