<!-- app/templates/loginpartial.html -->
{% load i18n %}
{% if user.is_authenticated %}
<li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">{% trans "Profile" %}</a>
</li>
<li class="nav-item">
        <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">{% trans "Logout" %}</button>
        </form>
</li>
{% else %}
<li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">{% trans "Sign Up" %}</a>
</li>
{% endif %}
